* {
  padding: 0px;
  margin: 0px;
  border: none;
  list-style: none;
  text-decoration: none;
  background-color: transparent;
}

body {
  box-sizing: border-box;
  font-family: "TT Lakes";
  font-weight: normal;
  font-size: 14px;
  font-family: TT Lakes;
  line-height: 18px;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  border-bottom: 1px solid #d9fff5;
}

.nav__wrapper-menu-logo {
  display: flex;
  margin-left: 16px;
  gap: 16px;
  align-items: center;
}


.nav__wrapper-repair-status {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-right: 20px;
}

.nav__wrapper-menu {
  display: flex;
  gap: 42px;
}

.nav__wrapper-call-chat-profile {
  display: flex;
  gap: 16px;
}

.header__nav-item {
  width: 40px;
  height: 40px;
  background-size: auto;
}

.nav-list-logo {
  width: 96px;
  height: 50px;
}

.main {
  background-color: #f8f8f8;
}

.main__title {
  letter-spacing: -0.6000000238418579px;
  font-size: 28px;
  line-height: 40px;
  font-weight: bold;
  padding-left: 16px;
  margin-bottom: 24px;
}

.main__title::before {
  content: "";
  border-right: 4px solid #41f6d7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 40px;
  position: absolute;
  left: 0;
}

.main__nav-list {
  display: flex;
  overflow: auto;
  margin-bottom: 24px;
  margin-left: 16px;
}

.main__nav-list-item {
  padding: 8px 16px 8px 16px;
  min-width: max-content;
  font-size: 16px;
  border: 2px solid transparent;
}

.main__nav-list-item:hover,
.main__nav-list-item:active,
.main__nav-list-item:focus {
  border: 2px solid #b8ffec;
  border-radius: 5px;
}

a:hover,
a:active,
a:focus,
a:visited,
a:link {
  color: #7e7e82;
}

.main__section-about {
  margin-left: 16px;
}

.main__section-next-button {
  margin: 16px 0 16px 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  position: relative;
  cursor: pointer;
}

.main__section-next-button::before {
  content: "";
  background-image:url("/image/expand.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  left: -30px;
}

.about-tablet {
  margin-top: 16px;
}

@media (min-width: 1px) and (max-width: 320px) {

  .nav__wrapper-menu .nav__wrapper-call-chat-profile,
  .about-tablet,
  .about-desktop,
  .main__list {
    display: none;
  }

  body {
    min-width: 320px;
  }

  .nav-list-logo::after {
    content: "";
    border: 1px solid #eaeaea;
    border-radius: 1px;
    margin-left: 112px;
    height: 32px;
    position: absolute;
    top: 28px;
  }

  .main__section-image {
    width: 320px;
    height: 176px;
  }
}

@media (min-width: 321px) and (max-width: 768px) {

  .about-desktop,
  .main__list {
    display: none;
  }

  body {
    width: 768px;
  }

  .nav-list-logo::before {
    content: "";
    border: 1px solid #eaeaea;
    border-radius: 1px;
    margin-left: -20px;
    height: 32px;
    position: absolute;
    top: 28px;
  }

  .header__nav-list .nav__wrapper-menu-logo {
    justify-content: flex-end;
    gap: 40px;
  }

  .nav__wrapper-call-chat-profile::after {
    content: "";
    border: 1px solid #eaeaea;
    border-radius: 1px;
    margin-left: 174px;
    height: 32px;
    position: absolute;
    top: 28px;
  }

  .main__section {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }

  .main__section-image {
    border-radius: 10px;
    width: 360px;
    height: 208px;
  }

  .main {
    padding: 0 24px 40px 0;
  }

  .main__section-about {
    line-height: 20px;
  }
}

@media (min-width: 769px) {
  .header {
    display: none;
  }

  .main__section {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }

  .main__section-image {
    border-radius: 10px;
    width: 531.35px;
    height: 307px;
  }

  .main {
    padding: 0 24px 40px 0;
  }

  .main__section-about {
    line-height: 20px;
  }

  .wrapper-title-repair-status {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }

  .wrapper-repair-status {
    display: flex;
    gap: 20px;
  }

  .main__nav-list {
    flex-wrap: wrap;
  }

  .main__list-link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  .main__list-link:hover,
  .main__list-link:active,
  .main__list-link:focus,
  .main__list-link:visited {
    color: #1b1c21;
  }

  .main__section {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
}